<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>VIEW PROFILE</title>
</head>

<body><form action="" method="get"><table width="200" border="1">
  <tr>
    <th scope="row">NAME</th>
    <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" value="{{ data['name'] }}"/></td>
  </tr>
  <tr>
    <th scope="row">DOB</th>
    <td><label for="textfield8"></label>
      <input type="text" name="textfield8" id="textfield8" value="{{ data['dob'] }}" /></td>
  </tr>
  <tr>
    <th scope="row">PLACE</th>
    <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" value="{{ data['place'] }}"/></td>
  </tr>
  <tr>
    <th scope="row">POST</th>
    <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" value="{{ data['post'] }}"/></td>
  </tr>
  <tr>
    <th scope="row">PIN</th>
    <td><label for="textfield4"></label>
      <input type="NUMBER" name="textfield4" id="textfield4" value="{{ data['pin'] }}" /></td>
  </tr>
  <tr>
    <th scope="row">PHONE NO</th>
    <td><label for="textfield5"></label>
      <input type="NUMBER" name="textfield5" id="textfield5" value="{{ data['phone'] }}"/></td>
  </tr>
  <tr>
    <th scope="row">EMAIL</th>
    <td><label for="textfield6"></label>
      <input type="EMAIL" name="textfield6" id="textfield6" value="{{ data['email'] }}"/></td>
  </tr>
  <tr>
    <th scope="row">IMAGE</th>
    <td><img src="{{ data['image'] }}" alt="no photo"/><br />

    <label for="fileField"></label>

      <input type="file" name="fileField" id="fileField"/></td>
  </tr><tr>
    <th colspan="2" scope="row"><p>
      <label for="textfield7"></label>
      <input type="submit" name="button" id="button" value="UPDATE" />
    </p></th>
    </tr>
  </table>
  
</form>
</body>
</html>
